* {
    margin: 0;
}

// Make default font size 10px, with no line height
body {
    font-size: 100%;
    line-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll !important;
}

main {
    margin-bottom: 100px;

    @media #{$sm-bp} {
        margin-bottom: 140px;
    }
}

section {
    padding: 0 15px;
}

div {
    font-size: 100%;
    line-height: 100%;
}
